footer
  .container
    ul.uk-subnav
      li: a(href=''): i.uk-icon-github
      li: a(href=''): i.uk-icon-facebook
      li: a(href=''): i.uk-icon-twitter
    .copyright
      :markdown
        This site is created by Gregory Tandiono.
        <br>
        Built on Node-Express & Proudly Hosted by Digital Ocean.

    img(src='/images/logo.svg').uk-align-center