header
  nav.uk-navbar
    .uk-navbar-brand: a(href='/'): img(src='/images/logo.svg')
    .uk-navbar-content
      ul.uk-navbar-nav
        li: a(href='') Open Source
        li: a(href='') Interfaces
        li: a(href='') Experiments
        li: a(href='') Narrative
        li: a(href='') Contact
