header
  nav.uk-navbar
    .uk-navbar-brand: a(href='/'): img(src='/images/logo.svg')
    ul.uk-navbar-nav
        li: a(href='') Interfaces
        li: a(href='') Experiments
        li: a(href='') Narrative
        li: a(href='') Contact
    ul.uk-navbar-nav.uk-navbar-flip
      li: a(href=''): i.uk-icon-github
      li: a(href=''): i.uk-icon-twitter
      li: a(href=''): i.uk-icon-facebook

