extends /layout
block content
  main.narrative-container.uk-container-center
    h2.uk-text-center Piano Key Layout
    ul
      each title in postTitle
        li= title
    ul
      li= post.test.title
