transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  transition n

animation(n)
  -webkit-animation n
  -moz-animation n
  -o-animation n
  animation n

column-count(n)
  -webkit-column-count n
  -moz-column-count n
  column-count n

column-gap(n)
  -webkit-column-gap n
  -moz-column-gap n
  column-gap n



