// Header Modules

header
  margin-top -60px
  background dark-moss
  height 60px
  width 100%
  position fixed
  z-index 10
  transition(all .25s ease-in-out)
  &.is-scrolled
    margin-top 0px


// Section Content

section.hero-unit
  width 100%
  height 500px
  .home-hero
    position absolute
    background url('/images/main-hero.jpg') top center
    background-size(cover)
    width 100%
    height 500px
    z-index -1
    &.is-scrolled
      background black
      opacity 0
  img
    padding 70px 0px 10px
    width 135px 
  h1
   display block
   color white
   font-size 40px
   font-weight thin
   span
    font-weight semi-bold
  em
    display block
    font-size 16px
    color white
    font-weight thin
    line-height 24px
    span
      font-weight semi-bold


.narrative-container // For Copy-Focused sections
  max-width 650px
  padding 20px
  color dark-grey
  h2
    margin 30px 0px 20px
    font-weight bolder
    letter-spacing 3px
    text-transform uppercase
    font-size 24px
    em.inline
      margin-top 60px
      letter-spacing 0px
      text-transform none
      font-size 24px
  em.inline
    display block
    font-size 16px
    font-weight thin
    line-height 24px
    color dark-grey
  p
    margin-top 20px
    em
      color dark-grey
      font-weight semi-bold
  ul
    column-count(2)
    padding-left 0px
    li
      font-size 16px
      margin-top 5px
    
section.showcase
  margin-top 20px
  width 100%
  .container
    min-height 500px
    .content
      display block
      padding-left 100px
      padding-top 120px
      max-width 450px
      h3
        font-size 30px
        text-transform uppercase
        letter-spacing 3px
        color white
        span.description
          text-transform none
          margin-top 15px
          display block
          font-size 16px
          letter-spacing 0px
      a
        display inline-block
        border-bottom 3px solid light-grey
        border-radius(50px)
        text-align center
        padding 10px 25px
        background white
        margin-top 10px
        color dark-grey
        &:hover
        &:focus
          border-bottom none !important
          margin-top 12px
    .img-placeholder
      margin-top 100px
      margin-right 100px
      #octocat
        padding-left: 107px;
        padding-top: 50px;

    &#narrative
      background url('/images/open-source.jpg') repeat fixed
    &#interfaces
      background url('/images/interfaces.jpg') repeat fixed
    &#experiments
      background url('/images/experiments.jpg') repeat fixed
    
    
// Utils
    
.divider
  display block
  height 1px
  width 200px
  margin 20px auto
  &.white
    background rgba(255,255,255,.75)
  &.dark
    background dark-grey

.force-absolute-pos
  position absolute !important


// Footer Modules

footer
  background dark-moss
  .container
    padding 25px 100px
    ul
      text-align center
      li a
        color white
        font-size 18px
        margin-right 5px
        margin-left 5px
        &:hover
          color light-grey
    .copyright
      max-width 400px
      text-align center
      color white
      margin 0px auto
      p
        font-size 12px
        line-height 20px