// Navbar

.uk-navbar
  background none
  padding 0px 100px
  .uk-navbar-brand
    height 60px
    margin-right 20px
    margin-left 0px
    padding-left 0px
    border-right 1px solid rgba(255,255,255,.5)
    a
      padding 5px 10px 0px 0px
      img
        height 50px
  .uk-navbar-nav
    padding-top 10px
    li
      &:hover
        background none
      & > a:hover
        background light-moss
        color white 
      a
        margin 0px
        color off-white
        font-family main-font
        font-weight semi-bold
        font-size 14px
        height inherit
        transition(all .2s)
        i
          font-size 18px

          


