// Colours

brand-colour = #d3d3d3
off-white = #e0e0e0
dark-grey = #404040
light-grey = #d3d3d3
gold = #FFD700
papaya = #FFEFD5
chiffon = #FFFACD
dark-moss = #021718
light-moss = #042527
main-font = 'Open Sans'

// Weight

thin = 300
normal = 400
semi-bold = 600
